body {
	background-image: url(../images/bg2.jpg);
	/* background-size: cover; */
	background-repeat: round;
	
}

h1 {
	font-family: "Courier New", monospace;
	color: #191b1c;
}

.sec1-bg {
	background-color: #d7cccc;
	opacity: 0.9;
}
.card {
	margin: 10px !important;
	border: 1px solid black !important;
}

.card-body {
	background-color: #d7cccc !important;
	padding: 0px !important;
	
}